# Vite Files
node_modules
dist
public/build

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and Editor Files
.vscode
.idea
*.suo
*.ntvs*
*.nwspe*

# Other Files
coverage
yarn-error.log
yarn-debug.log
npm-debug.log